<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<div class="d-grid gap-2 d-md-block">
    <a href="/places/new" class="btn btn-primary btn-lg">New Place</a>
  </div>
</div>