<h1> New Place</h1
>
<%= form_with :model => @place do |form| %>
   <div class="mb-3">
      <%= form.label "Name", class: "form-label" %>
      <%= form.text_field "Name", class: "form-control" %>
    </div>
  <%= form.submit "New Place Submission", class: "btn btn-primary" %>
<% end %>